.row
  .col.right-wrapper

  .col
    .sign-up
      %h2
        Editer votre profile #{resource_name.to_s.humanize}

      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource

        .row
          .col-sm.field.form-group.mt-3
            = f.input :nickname, label: 'Nom Utilisateur', autofocus: true, autocomplete: "email"

          .col-sm.field.form-group.mt-3
            = f.input :city, label: 'Ville', autofocus: true

        .field.form-group.mt-3
          = f.input :avatar, label: 'Avatar', autofocus: true

        .field.form-group.mb-3.mt-3
          = f.input :artist, as: :boolean, label: 'Êtes vous un artiste?', autofocus: true
        
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}

        .field.form-group.mt-3
          = f.input :password, label: 'Mot de passe', autocomplete: "new-password"
          %i (leave blank if you don't want to change it)
          
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            characters minimum

        .field.form-group.mt-3
          = f.input :password_confirmation, label: 'Confirmation mot de passe', autocomplete: "new-password"
        
        .field.form-group.mt-3
          current_password
          %i (we need your current password to confirm your changes)
          %br/

          = f.input :current_password, autocomplete: "current-password"
        
        .actions.form-group.mt-3
          = f.submit "Mettre à jour", class: "button btn btn-primary"

      .cancel-account.mt-4
        %h5 Cancel my account

        %div
          Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'button btn btn-primary'}
        = link_to "Back", :back
