.row
  .col.right-wrapper

  .col
    .sign-up.mx-auto.p-4
      %h2 S'inscrire
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .row
          .col-sm.field.form-group.mt-3
            = f.input :nickname, label: 'Nom Utilisateur', autofocus: true

          .col-sm.field.form-group.mt-3
            = f.input :address, label: 'Ville', autofocus: true

        .field.form-group.mt-3
          = f.input :avatar, label: 'Avatar', autofocus: true

        .field.form-group.mb-3.mt-3
          = f.input :artist, as: :boolean, label: 'Êtes vous un artiste?', autofocus: true

        .field.form-group.mt-3
          = f.input :email, label: 'Email', autofocus: true, autocomplete: "email"

        .row
          .col-sm.field.form-group.mt-3
            = f.input :password, label: 'Mot de passe', autocomplete: "new-password"
          
          .col-sm.field.form-group.mt-3
            = f.input :password_confirmation, label: 'Confirmation mot de passe', autocomplete: "new-password"
        
        .actions.form-group.mt-3
          = f.button :submit, "S'inscrire", class: "button btn btn-primary"
      
      = render "devise/shared/links"