%nav.navbar.navbar-expand-lg.navbar-light.bg-light
	.container-fluid
		%a.navbar-brand{href: "#"} 
			= @navbar

		%button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavDropdown", "data-bs-toggle" => "collapse", type: "button"}
			%span.navbar-toggler-icon

		#navbarNavDropdown.collapse.navbar-collapse.flex.justify-content-end
			%ul.navbar-nav
				%li.nav-item
					= link_to 'Home', users_path, class: 'nav-link active'

				- unless user_signed_in?
					%li.nav-item
						= link_to 'Se connecter', new_user_session_path, class: 'nav-link'

					%li.nav-item
						= link_to "S'inscrire", new_user_registration_path, class: 'nav-link'


			%ul.navbar-nav.flex
				- if user_signed_in?
					%li.nav-item.dropdown
						%a#navbarDropdownMenuLink.nav-link.dropdown-toggle.dropdown-menu-right{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
							Dropdown link
						%ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
							- if current_user.artist?
								= link_to 'Créer un histoire', new_story_path, class: 'nav-link'
							
							%li.nav-item
								= link_to 'Mon profile', user_path(current_user.id), class: 'nav-link'

							%li.nav-item
								= link_to 'Se deconnecter', destroy_user_session_path, method: :delete, class: 'nav-link'