= story_title_form(@story)

= simple_form_for @story, url: form_story_url(@story) do |f|
	
	.form-group.mb-5
		= f.input :title, label: 'Titre'

	.form-group.mb-3
		= f.hidden_field :description, id: "story_description"

		= f.rich_text_area :description, class: 'form-control', placeholder: 'Raconte ton histoire'

	.form-group
		= f.button :submit, 'Publie ton histoire', class: 'btn btn-primary'