.users
  .users-avatar
    .row
      - @users.each do |user|
        .col-2  
          .avatar.mx-3.my-4.text-center.border.border-light.shadow.hvr-grow.w-100
            = link_to user_path(user.id) do
              - if user.avatar.attached?
                = image_tag(user.avatar, class: 'rounded-circle user-avatar pt-2')
              - else
                %h3 NO image
              %h3.user-info.mt-3
                = user.nickname