.story-show
	.row.mt-5
		.col-3.p-4.border-end
			.user-stories.text-center
				- if @user.avatar.attached?
					= image_tag(@user.avatar.url, class: 'rounded-circle user-avatar mt-3')
				- else
					%h1
						NO IMAGE

				%h1.user-info.pt-5
					= @user.nickname

				.edit-button
					= link_to 'Editer mon profile', edit_user_registration_path, class: 'btn btn-primary btn-lg w-100'

		.col-9
			.stories.text-center.mt-5
				#accordionFlushExample.accordion.accordion-flush
					- @user.stories.each_with_index do |story, i|
						.accordion-item
							%h2{id: "flush-headingOne#{i}", class: "accordion-header"}
								%button.accordion-button.collapsed{"aria-controls" => "flush-collapse#{i}", "aria-expanded" => "false", "data-bs-target" => "#flush-collapse#{i}", "data-bs-toggle" => "collapse", type: "button"}
									= story.title

							%div{id: "flush-collapse#{i}", class: "accordion-collapse collapse", "aria-labelledby" => "flush-heading#{i}", "data-bs-parent" => "#accordionFlushExample"}
								.accordion-body
									= link_to story_path(story.id) do
										= story.description.body.to_plain_text.truncate(200)