.story.mt-4
	- if user_signed_in? && current_user.artist?
		.edit-button.mb-3.w-50.mx-auto
			= link_to 'Editer mon histoire', edit_story_path(@story), class: 'btn btn-primary btn-lg w-100'
	
	.paper
		%h1.title.text-center
			= @story.title

		.story-descrition.w-50.mx-auto.mt-4
			= @story.description
