.row
  .col.right-wrapper

  .col
    .login.w-50.mx-auto
      %h2.mb-3.text-center Se connecter
      
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'mt-4') do |f|
        
        .field.form-group.mb-3
          = f.input :email, label: 'Email', autofocus: true, autocomplete: "email"
        
        .field.form-group.mb-3
          = f.input :password, label: 'Mot de passe', autocomplete: "current-password"
        
        - if devise_mapping.rememberable?
          .field.form-group.mb-3
            = f.input :remember_me, as: :boolean, label: 'Se rappeller de moi'
        
        .actions.mb-3
          = f.button :submit, 'Se connecter', class: 'button btn btn-primary'
      = render "devise/shared/links"
