@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons';
@import 'actiontext.css';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);


html, body {
}

.user-avatar {
  width: 150px;
}  

.user-img {
  width: 300px;
}    

.sign-up {
  margin-top: 50px;
}

@media (min-width: 400px) and (max-width: 768px) { 
  .sign-up {
    width: 80%;
  }
}

.right-wrapper {
  background: url(music-7.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.login {
  margin-top: 200px;
}

.users {
  margin-top: 90px;
}

.container-fluid{
  padding: 0 !important;
}

.edit-story {
  width: 80%;
}

.new-story {
  width: 80%;
}


trix-editor {
  &.customized-min-height {
    min-height: 15em;
  }
}

/*grow avatar*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/*story style */

