!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TemporaireWebsite
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload"
    = javascript_importmap_tags "application"
  %body
    = render(NavbarComponent.new(navbar: 'Music Story Beta'))
    .container-fluid.overflow-hidden
      = yield
